# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

gitpush.bat

# posts
_posts/2024-01-25-.gitignore.md
_posts/2024-01-25-anki-guide.md
_posts/tarih-taslak.md
_posts/2024-01-26-misp.md


local.bat